body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
  padding: 38px;
  padding-bottom: 5px;
}

td {
  text-align: center;
}

.form-control {
  box-shadow: 0 0 7px black;
}

.btn-primary {
  box-shadow: 0 0 3px 2px black;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  box-shadow: -5px 5px 2px 1px black;
}